<%= link_to "← Retour", root_path, class:"text-decoration-none text-dark ms-5 " %>
<div class="container">
  <h2 class="accroche">Vos réservations</h2>

  <% if !@bookings.exists?() %>
    <p>Vous n'avez pas encore de réservation</p>
    <p> Pour consultez nos offres, cliquer <%= link_to "ici", root_path%></p>
  <%else %>

    <div class="grid-card">
        <% @bookings.each do |booking| %>
          <div class="card-product">
            <div class="photo-book">
              <img src="<%=booking.room.image_url%>" style ="width: 300px; heigth: 100%">
            </div>
            <div class="card-product-infos">
              <h2><strong><%= booking.room.category %></strong></h2>
              <p>Du <%=booking.start_date %> au <%=booking.end_date %></p>
              <p><%= booking.room.price %> €/nuit</p>
              <div class="icon-delete">
                <div class="d-flex justify-content-between align-items-center">
                  <%= link_to 'Modifier',  edit_booking_path(booking), class: "btn btn-primary mt-3" %>
                  <div class="icon-delete">
                    <%= link_to "🗑️", destroy_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur.e?"}, class: "supprimer"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
